*{
    font-size: 20px;
}

#formCenter{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formDialog{
    padding: 0;
    border: 1px solid black;
    border-radius: 12px;
}
form{
    padding: 3em;
}
label,input{
    margin: 0.3em;
    padding: 0.5em 0em 0.5em 0.2em;
}
button{
    margin: 0.3em;
    padding: 0.5em 1em;
    border-radius: 12px;

}
label{
    padding-left: 0.2em;
}
#addBook{
    margin: 20px;
}
#displaybook{
    padding: 20px;
    display: flex;
}
h1{
    font-size: 40px;
}
#displaybook div{
    border: 1px solid black;
    max-width: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}
#readbtn{
    padding: 5px 50px;
    border: none;
    border-radius: 20px;
}
#displaybook p{
    display: inline;
    margin: 25px;
}
